.project {
  margin-top: 90px;
  background-color: #262626;
  color: white;
  img {
    height: 300px;
    width: 600px;
    object-fit: cover;
    object-position: left;
  }
  .item {
    width: 200px;
  }
}
